.gradle/
.kotlin/
.idea/
build/
app/build/
app/debug/
app/alpha/
app/beta/
app/release/
assets-src/
local.properties
*.iml
*.apk
*.aab
gen/
public/
**/gen/
**/public/
keystore.properties
keystore/*.jks
keystore/*.keystore
